<section class="error-state">
  <p class="eyebrow">Ops</p>
  <h1>{{title}}</h1>
  <p>{{message}}</p>
  {{#if details}}
    <pre>{{details}}</pre>
  {{/if}}
  <a class="button primary" href="/">Voltar ao inicio</a>
</section>
